/*! Neo's Normalize http://neo.s21.xrea.com/ */

/* 
 * - サンセリフ (ゴシック体)
 *      1. 英字   … Mac     iOS         … -apple-system, BlinkMacSystemFont,
 *      2. 英字   … Mac     iOS         … "Helvetica Neue",
 *      3. 英字   … Mac Win iOS Android … Helvetica, (= Arial on Windows, Roboto on Android)
 *      4. 和英   … Mac Win             … YuGothic, "Yu Gothic", (With @font-face)
 *      5. 和英   … Mac Win     [Linux] … "Noto Sans JP", "Noto Sans CJK JP",
 *      6. 和英   … Mac     iOS         … "Hiragino Sans", "Hiragino Kaku Gothic ProN",
 *      7. 和英   …     Win             … Meiryo,
 *      8. 全般   …                     … sans-serif,
 *      9. 絵文字 … Mac     iOS         … "Apple Color Emoji",
 *     10. 絵文字 …     Win             … "Segoe UI Emoji", "Segoe UI Symbol",
 *     11. 絵文字 …             Android … "Noto Color Emoji"
 * - セリフ (明朝体)
 *      1. 英字   … Mac Win iOS Android … Georgia, (= Noto Serif on Android)
 *      2. 和英   … Mac Win             … YuMincho, "Yu Mincho",
 *      3. 和英   … Mac Win     [Linux] … "Noto Serif JP", "Noto Serif CJK JP", 
 *      4. 和英   … Mac     iOS         … "Hiragino Mincho ProN",
 *      5. 和英   …     Win             … "HGS明朝E",
 *      6. 全般   …                     … serif
 * - モノスペース (等幅)
 *      1. 和英   …     Win       [Mod] … MeiryoKe_Gothic,
 *      2. 和英   … Mac Win     [Linux] … "Noto Sans CJK JP",
 *      3. 和英   … Mac                 … Osaka-mono,
 *      4. 和英   …     Win             … "MS Gothic",
 *      5. 英字   … Mac Win iOS Android … "Courier New",
 *      6. 全般   …                     … monospace
 */

/* Yu Gothic : Windows Full Name → Windows PostScript Name */
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium"), local("YuGothic-Medium");
}

@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Bold"), local("YuGothic-Bold");
  font-weight: bold;
}

:root {
	--nn-ratio-1: 1.3;
	--nn-ratio-2: calc(var(--nn-ratio-1) * var(--nn-ratio-1));
	--nn-ratio-4: calc(var(--nn-ratio-2) * var(--nn-ratio-2));
	--nn-ratio-8: calc(var(--nn-ratio-4) * var(--nn-ratio-4));
  
  --nn-space-default: calc(1rem * var(--nn-ratio-2));
  --nn-space-small  : calc(var(--nn-space-default) / var(--nn-ratio-2));
  --nn-space-large  : calc(var(--nn-space-default) * var(--nn-ratio-4));
  --nn-space-tiny   : calc(var(--nn-space-small) / var(--nn-ratio-2));
  --nn-space-huge   : calc(var(--nn-space-large) * var(--nn-ratio-4));
  
  --nn-space-indent-default: calc(2rem * var(--nn-ratio-1));
  
  --nn-font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, YuGothic, "Yu Gothic", "Noto Sans JP", "Noto Sans CJK JP", "Hiragino Sans", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --nn-font-family-monospace: MeiryoKe_Gothic, "Noto Sans Mono CJK JP", Osaka-mono, "MS Gothic", "Courier New", monospace, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --nn-font-family-serif: Georgia, YuMincho, "Yu Mincho", "Noto Serif JP", "Noto Serif CJK JP", "Hiragino Mincho ProN", "HGS明朝E", serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  
  --nn-border-radius-default: 4px;
  
  --nn-colour-base         : #323436;
  --nn-colour-background   : #fdfeff;
  --nn-colour-link-base    : #0070ff;
  --nn-colour-link-hover   : #ff0033;
  --nn-colour-em           : #229966;
  --nn-colour-strong       : #ff0033;
  --nn-colour-grey-default : #caccce;
  --nn-colour-grey-lighter : #eef0f2;
  --nn-colour-grey-light   : #f6f8fa;
  --nn-colour-green-light  : #ddffee;
  --nn-colour-green-default: #66ddaa;
}

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  color: var(--nn-colour-base);
  font-family: var(--nn-font-family-sans-serif);
  overflow-y: scroll;
  overflow-wrap: break-word;
  text-decoration-skip-ink: none;
  -webkit-text-decoration-skip: objects;
  line-height: 1.7;
  background: var(--nn-colour-background);
  cursor: default;
}

body {
  margin: 0;
}

pre, code, kbd, samp, var, time, textarea {
  font-family: var(--nn-font-family-monospace);
}

header,
main,
section,
article,
aside,
footer {
  margin: var(--nn-space-large) 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: var(--nn-space-large) 0 var(--nn-space-default);
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.7rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.2rem;
}

h5,
h6 {
  font-size: 1rem;
}

p, dl, ol, ul,
blockquote, pre, table, form,
details, summary, nav {
  margin: var(--nn-space-default) 0;
}

ol, ul {
  padding-left: var(--nn-space-indent-default);
}

dd ol, dd ul {
  padding-left: var(--nn-space-default);
}

ol ol, ol ul,
ul ol, ul ul {
  margin: 0;
  padding-left: var(--nn-space-default);
}

dt {
  margin: var(--nn-space-default) 0 var(--nn-space-tiny);
  font-weight: bold;
}

dd {
  margin: 0 0 0 var(--nn-space-indent-default);
}

dd > :first-child,
blockquote > :first-child {
  margin-top: 0;
}

blockquote > :last-child {
  margin-bottom: 0;
}

hr {
  margin: var(--nn-space-large) 0;
  border: 0;
  border-bottom: 1px solid var(--nn-colour-grey-default);
}

a {
  color: var(--nn-colour-link-base);
  text-decoration: underline;
}

a:hover,
a:active {
  color: var(--nn-colour-link-hover);
}

em {
  color: var(--nn-colour-em);
  font-style: normal;
  font-weight: bold;
}

a em, em a {
  color: var(--nn-colour-em);
  text-decoration: underline;
}

a:hover em, a:active em, em a:hover, em a:active {
  color: var(--nn-colour-link-hover);
}

strong {
  color: var(--nn-colour-strong);
}

a strong, strong a {
  color: var(--nn-colour-strong);
  text-decoration: underline;
}

a:hover strong, a:active strong, strong a:hover, strong a:active {
  color: var(--nn-colour-link-base);
}

address, var {
  font-style: normal;
}

blockquote {
  border: 1px solid var(--nn-colour-green-default);
  border-radius: var(--nn-border-radius-default);
  padding: var(--nn-space-default) var(--nn-space-small);
  background: var(--nn-colour-green-light);
}

pre {
  border: 1px solid var(--nn-colour-grey-default);
  border-radius: var(--nn-border-radius-default);
  padding: var(--nn-space-small);
  background: var(--nn-colour-grey-light);
  overflow: auto;
  overflow-wrap: normal;
  word-break: keep-all;
  white-space: pre;
}

code, kbd, samp, var {
  font-size: 1em;
}

:not(pre) > code,
:not(pre) > samp,
:not(pre) > kbd,
:not(pre) > var {
  margin: 0 calc(var(--nn-space-tiny) / var(--nn-ratio-4));
  border: 1px solid var(--nn-colour-grey-default);
  border-radius: var(--nn-border-radius-default);
  padding: calc(var(--nn-space-tiny) / var(--nn-ratio-8)) calc(var(--nn-space-tiny) / var(--nn-ratio-2));
  font-size: .94em;
  background: var(--nn-colour-grey-light);
}

table {
  border-collapse: collapse;
}

caption {
  margin: 0 0 calc(var(--nn-space-tiny) / var(--nn-ratio-2));
  font-weight: bold;
}

th, td {
  border: 1px solid var(--nn-colour-grey-default);
  padding: calc(var(--nn-space-tiny) / var(--nn-ratio-2)) var(--nn-space-tiny);
}

th {
  font-weight: bold;
  text-align: center;
  background: var(--nn-colour-grey-light);
}

td {
  vertical-align: top;
}

q {
  quotes: "“" "”" "‘" "’";
}

q::before {
  content: open-quote;
}

q::after {
  content: close-quote;
}

summary {
  cursor: pointer;
}

abbr[title], dfn[title] {
  font-style: normal;
  text-decoration: underline dotted;
  cursor: help;
}

/* 等幅フォントは別途指定済 */
textarea {
  margin: 0;
  border: 1px solid var(--nn-colour-grey-default);
  border-radius: var(--nn-border-radius-default);
  padding: calc(var(--nn-space-tiny) / var(--nn-ratio-2)) var(--nn-space-tiny);
  font-size: inherit;
  background: transparent;
  vertical-align: top;
}

/* フォントを親要素から継承させる */
button, input, select {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  vertical-align: top;
}

button, [type="button"], [type="reset"], [type="submit"], [type="text"], [type="password"] {
  /* iOS・Mac でのボタン類の表示仕様を揃える */
  -webkit-appearance: none;
  border: 1px solid var(--nn-colour-grey-default);
  border-radius: var(--nn-border-radius-default);
  padding: calc(var(--nn-space-tiny) / var(--nn-ratio-2)) var(--nn-space-tiny);
  background: transparent;
}

button, [type="button"], [type="reset"], [type="submit"] {
  background: var(--nn-colour-grey-light);
  cursor: pointer;
}

button:hover, [type="button"]:hover, [type="reset"]:hover, [type="submit"]:hover,
button:focus, [type="button"]:focus, [type="reset"]:focus, [type="submit"]:focus {
  background: var(--nn-colour-grey-lighter);
}

/* チェックボックスとラジオボタンは隣接するテキストを垂直中央揃えにする */
[type="checkbox"], [type="radio"] {
  vertical-align: middle;
  cursor: pointer;
}
